@charset "UTF-8";
:root{
    --azulweg: #28b8d9;
    --azullouro: #03378a;
    --cinzaweg: #c7c9d3f5;
    /* cinza 1 : #b6b7bd */
} 

.fundotranslucido{
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: transparent;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
}

.linkzap{
    visibility: hidden;
    position: fixed;
    top: 30%;
    transform: translateX(-50%);
    left: 50vw;
    z-index: 11;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 350px ;
    height: 250px;
    background-color: #20c840 ;
    border: solid 2px white;
    border-radius: 5%;
  
}

.linkzap>h2{
    font: normal bolder 1.5em arial;
    background-color: #20c840;
    color: white;
    position: relative;
    top: 0;
}

.linkzap>.botao{
    margin: 0px;
    width: 90%;
    background-color: green;
}
.fechar{
    color: white;
    position: absolute;
    text-align: end;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
a{
    cursor: pointer; 
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.linkzap .botao:hover{
    transition: .3s;
    background-color: rgba(52, 128, 17, 0.719);
}
.borda{
    border: 1px dashed black;
}

.flex{
    display: flex;
}

body{
    background-color: var(--azullouro);
    margin: 0px;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
} 

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--azullouro);

}
.cabecalho{
    justify-content: space-between;
}

.cabecalho img{
    width: 100%;
    width: 50%;
    padding: 10px;
}

.menu{
    transition: .3s;
    background-color: var(--azullouro);
    padding: 0px 29px 0px 20px;
    margin: 0px 0px 0px 0px;
    align-items: center;
}

.menu>span{
    color: white;
    width: 100%;
}

nav{
    visibility: hidden;
    text-align: center;
    width: 0;
    position: absolute;
    top: 100%;
    right: 0px;
    float: right;
    background-color: #28b9d9e8;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    transition: .3s;

}

nav>a{
    transition: .1;
    padding: 10px 0px;
    border: 1px solid #00000042;
    display: block;
    text-decoration: none;
    color: white;
}

 #mais{
    background-color: #9b9ca3e8;
}

.headerrodape{
    margin: 0;
    text-align: center;
    color: white;
    background-color: var(--azulweg);
    height: 15px;
}

main{
    box-shadow: 0px 0px 5px 2px #00000042;
    margin: auto;
    margin-top: 19.4%;
    width: 95%;
    height: auto;
    background-color: #fff;
}

.bemvindo{
    height: 300px;
    background-image: url('../imagens/background1.png');
    background-size: 130%;
    background-position: center;
    font-size: .8em;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 1px 10px 0px #0000009a;
}
.sombratopo{
    box-shadow: 0px -1px 10px 0px #0000009a;
}
h1{
    background-color: #b6b7bdd3;
    color: var(--azullouro);
    font: normal 400 2em arial;
}

.titulo{
    padding: 1px 0px;
    text-align: center;
    font: normal 100 1.5em arial;
    color: #fff;
    background-color: var(--azullouro);
}
.valores{
    margin: auto;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;    
    width: 100%;
    height: auto;
    text-align: center;

}

.valores>img{
    width: 40%;
    margin: auto;
}

.texto{
    font: normal 400 1em arial;
    width: 50%;
}
.alinhamento{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fornecedores{
    margin: 50px 20px;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
}

.fornecedores>img{
    width:25%;
}


.fornecedorestxt{
    width: 70%;
    text-align: center;
}

.cartazEx{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.gradient{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to left, var(--azulweg)  ,#0069aa 75%);
}

.imagem{
    width: 25%;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.imagem>img{
    width: 85%;
}

.imagem a{
    text-align: center;
    font: normal 500 .7em arial;
    color: white;

}

.imagem>h2{
    display: none;
}

.pweg{
    width: 65%;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

.pweg p{
    margin-bottom: 40px;
    float: right;
    width: 90%;
    color: #fff;
    text-align: center;
    font: normal 800 .8em arial;
}

.botao{
    margin-bottom: 20px;
    background-color: var(--azulweg);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
}

.contato{
    flex-direction: column;
    height:900px;
    text-align: center;
    color: white;
}
.contato p{
    text-align: left;
    color: #000;
}
.contatoesq{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contatodir{
    justify-content: space-around;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    width: 100%;
    height: 100%;
}
h2.cinza{
    text-align: center;
    background-color: var(--cinzaweg);
    margin: -20px 0px;
    font: normal bold 1.5em arial;
    padding: 20px 0px;

}

.mapa{
    position: relative;
    margin: 50px auto 0px auto;
    /* width: 40%; */
    width: 250px;
    /* height: 80%; */
    height: 250px;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#mapaRecife{
    display: none;
    z-index: 1;
}

#mapaBelojardim{
    display: none;
    z-index: 2;
}

.enderecos{
    margin: auto;
    width: fit-content;
    align-items: center;
}

.caixaselecao{
    font:normal normal .8em arial;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 20px;
    margin: 20px 0px;
}
#marcadorRec{
    background-color: white;
}
#marcadorBj{
    background-color: white;
}
.marcador{

    margin: 0px 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;    
    transition: .5s;
}

.formulario{
    /* position: absolute; */
    margin-top: 50px;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form{
    background-color: var(--cinzaweg);
    box-shadow: -1px -1px 5px 0px var(--azulweg) ;
    margin: auto;
    width: 50%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* position: absolute; */
}

.caixatxt, .caixatxt input{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.caixatxt>input{
    padding: 30px auto;
}
.enviar{
    background-color: var(--cinzaweg);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    height: 15%;
    width: 50%;
}
.informacoes{
    font: normal bold 1em arial;
    margin: auto;
    width: 90%;
}
.informacoes a{
    color: blue;
}

#telefones{
    float: left;
    width: 70%;
    margin: 12.5px 0px;
    text-align: left;
    color: black;
}
.whatsapp{
    cursor: pointer;
    margin-right: 50px;
    float: right;
    width: 50px;
}
.whatsapp img{
    width: 100%;
    border-radius: 50%;

}

footer{
    width: 100%;
    height: 20px;
    position: static;
    bottom: 0px;
}

footer>p{
    color: #fff;
    text-align: center;
    font-weight: 800 ;
    font-size: .5em;
}

.redes{
    justify-content: space-around;
    margin: auto;
    padding-left: 15.15px;
    width: 50%;
}

.redes img{
    border-radius: 50%;
    width: 60%;
}

@media screen and (min-width: 870px) {
    
    body{
        background-color: var(--azulweg);
    }
    .alturadiv{
        height: 500px;
    }
    header{
        height: 80px;
    }
    .cabecalho{
        height: 100%;

    }
    .cabecalho img{
        width: fit-content;
    }
    .menu>span{
        display: none;
    } 
    #mais{
        display: none;
    }
    nav{
        background-color: var(--azullouro);
        position:absolute;
        top: 35%;
        flex-direction: row;
        visibility: visible;
        width: 70%;
        
    }
    nav>a{
        border: none;
    }
    nav>a:hover{
        transition: 1s;
        text-decoration: underline;
    }
    .headerrodape{
        display: none;
    }
    main{
        box-shadow: none;
        height: 100%;
        margin: 70px auto 0px auto;
        width:100%;
    }    
    .bemvindo{
        margin: 100px 0px 0px 0px;
        background-image: url('../imagens/wallpaperAzul.jpg');
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
        box-shadow: inset ;

    }
    .titulo{
        background-color: var(--azulweg);
        color: #fff;
    }
    .valores{
        width: 100%;
        flex-direction: row;
    }
    .texto{
        width: 20%;
        margin: 0px 50px;
    }

    .fornecedores{
        margin: -100px 0 0 0;

    }
    .fornecedorestxt{
        width: 70%;
        margin: -150px auto 50px auto;
    }

    .cartazEx{
        height: 300px;
    }

    .imagem img{
     align-items: center;
        margin:auto;
        width: 100%;
    }
    .imagem>h2{
        display: block;
        color: white;
        font: normal bolder 150% arial;
        text-align: justify;
    }

    #wegLink{
        display: none;
    }

    .pweg{
        width: 100%;
        padding-left: 10px;
        justify-content: center;
        align-items: center;
    }

    .botao:hover{

        font-weight: 600;
        cursor: pointer;
        background-color: #03378a3b;

    }
    .contato{
        /* position: relative; */
        height: 600px;
        flex-direction: row;
    }

    .mapa{
        margin: 50px;
        float: left;
        width:540px;
        height: 360px;
    }
    .informacoes{
        /* position: absolute; */
        right: 115px;
        bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 200px;
        width: 100%;

    }
    .whatsapp{
        float: right;
    }
    #telefones{
        width: fit-content;
    }
    .formulario{
        height: 300px;
        width: 300px;
    }
    .enderecos{
        margin-left: 50px;
    }
    footer{
        margin: 0px;
        padding: 0px;
        height: 100%;
        background-color: var(--azullouro);
    }

    .redes{
        width: 250px;
    }

    footer>p{
        padding: 10px 0px;
        margin: 0px auto;
    }
}